@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}


:root {
    --prima-color: "#1b1b1b";
    --section-dark-bg: "#222222";
    --section-light-bg: "#222222";
    --text-light: "#999";
    --white-color: "#fff";
    --black-color: "#000";
    
    --Bricolage-font: "Bricolage Grotesque", sans-serif;
    --jost-font: "Jost", sans-serif;
}